body {
    background-color: rgb(18, 17, 33);
    color: white;
}

h1 {
    text-align: center;
    padding: 12px 12px 12px 12px;
}

h2 {
    padding: 12px 12px 0 12px;
}

p {
    padding: 12px 12px 12px 12px;
    color: lightgray;
}

.info {
    background-color: rgb(34,34, 52);
    margin-top: 10px;
    border-radius: 10px;
}

img {
    height: 36px;
    width: 36px;
    border-radius: 10px;
}

#discord {
    width: 36px;
    height: 36px;
    background-color: rgb(88, 101, 242);
    border-radius: 10px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    position: fixed;
    right: 0;
    bottom: 70px;
}

a {
    color: white;
}

#gmail {
    width: 50px;
    height: 62px;
    background-color: rgb(222, 81, 69);
    border-radius: 10px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    position: fixed;
    right: 0;
    bottom: 0;
}
