body {
    background-color: rgb(18, 17, 33); 
    color: white;
}
h1 {
    text-align: center;
}
p {
    color: lightgray;
}
.info {
    background-color: rgb(34,34, 52);
    margin-top: 10px;
    
    border-radius: 10px;
}
img {
    border-radius: 10px;
}
#discord {
    width: 150px;
    height: 50px;
    background-color:rgb(88, 101, 242);
    border-radius: 10px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    position: fixed;
    right: 0;
    bottom: 70;
}
a {
    color: white;
}
#gmail {
    width: 250px;
    height: 50px;
    background-color:rgb(222, 81, 69);
    border-radius: 10px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    position: fixed;
    right: 0;
    bottom: 0;
}